html, body {
	margin: 0px;
	padding : 0px;
	border : 0px;
	outline : 0px;
	font-size : 100%;
	background: transparent;
	padding : 0px;
}
body {
	font-family: 'Oswald', sans-serif;
    left: auto;
    right: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    width:100%%;
}
.topbox {
    position: fixed;
    right: auto;
    width: 80%;
    height: 70px;
    top: 0px;
    z-index: 999;
}
.topbg {
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px #777777;
    z-index: 998
}
#mainmenu {
    position: relative;
    padding: none;
    margin: 0px 0px 0px 0px;
    font-family: 'Oswald', sans-serif;
    height: 70px;
    width: 41%;
    float: right;
    overflow : hidden;
    top: 0px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
}
#mainmenu li {
    position: relative;
    display: block;
    float: left;
    width: 100px;
    height: 70px;
}
#mainmenu a {
    position: relative;
    line-height: 70px;
}
#mainmenu a:link {
    text-decoration: none;
    color: pink;
}
#logo {
    position: relative;
    top: 2px;
    width: 200px;
}
#mainmenu a:visited {
    text-decoration: none;
    color: pink;
}
#mainmenu div:hover {
    -webkit-transition: background-color 0.2s;
    background-color: lightcoral;
}
#boxtext{
    position: relative;
    color: white;
    width: 300px;
    height: 50px;
    top : 40%;
    left: 20%;
}
#banner {
    position:relative;
    width: 127.53%;
    height: 100vh;
    left: -15%;
    top: 0;
    background-color: #FFAEAE;
}
#nyan{
    position: absolute;
    top: auto;
    right: 0px;
    bottom: 0px;
    margin-right: 10%;
    height: 860px;
}
#leftbox, #rightbox {
    display: inline-block
    top: 0;
    height: 800px;
    width : 65%;
}
#leftbox {
    background-color: aqua;
    position: relative;
    left: -15%;
}
#rightbox {
    background-color: green;
    position: absolute;
    top : 102%;
    left: 50%;
    width: 50%
}
t {
    position: relative;
    top: 100px;
    padding: 20px 20px 20px 20px;
    font-size: 40px;
    min-width: 100px;

}

