html, body, ul, li {
	margin : 0;
	padding : 0;
	border : 0;
	outline : 0;
	font-size : 100%;
	background: transparent;
	padding : 0px;
	vertical-align: baseline;
}
body {
	font-family: oswald;
}
#templogo{
    position: absolute;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size : 24px;
    color : #FFC0C0;
    color : rgb(255, 192, 192);
    position: relative;
    width: 100px;
}
.topbox {
    position: absolute;
    top: 0px;
    width: 1000px;
    background : #FFAEAE;
    background : rgba(255, 174, 174, 1);
    min-height: 500px;
}
#boxtext{
    position: relative;
    width: 300px;
    height: 50px;
    top : 200px;
    left: 300px;
}
#nyanshadow{
    position: absolute;
<<<<<<< HEAD
=======
    top: 150px;
    left: 300px;
>>>>>>> origin/master
    width : 600px;
    height: auto;
}
.mainmenu {
    font-family: 'Oswald', sans-serif;
	width : 300px;
    position: absolute;
    top : 0px;
    right : 0px;
	overflow : auto;
}
.mainmenu li {
	display: inline;
    margin-right : 10px;
}
