html, body {
	margin : 0;
	padding : 0;
	border : 0;
	outline : 0;
	font-size : 100%;
	background: transparent;
	padding : 0px;
	vertical-align: baseline;
}
body {
	font-family: 'Oswald', sans-serif;
}

.topbox {
    padding: 0px 0px 0px 0px;
    position: fixed;
    width: 100%;
    margin: inherit;
    background : #FFAEAE;
    background : rgba(255, 174, 174, 1);
    height: 800px;
}
.movebox {
    position: fixed;
    width: 100%;
    height: 70px;
}
#logo {
    float: left;
    width: 200px;
}
#mainmenu {
    font-family: 'Oswald', sans-serif;
	width : 500px;
    float: right;
    top : 0px;
    right : 0px;
	overflow : auto;
}
#mainmenu li {
	display: inline;
    margin-right : 10%;
}
#boxtext{
    position: relative;
    width: 300px;
    height: 50px;
    top : 200px;
    left: 300px;
}
#nyan{
    position:absolute;
    top: 100px;
    margin-right: 10%;
}

