/*FFAEAE*/

#nyan {
    position: absolute;
    bottom: 0px;
    right: 8%;
    height: 700px;
}

#rays {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 875px;
    width: 100vw;
}

#bannerbg {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 875px;
    background: #3399CC;
}

#banner {
    position: relative;
    width: 100%;
    height: 875px;
    top: 0px;
    width: 100%;
    z-index: 2;
}

#banner .bannertext {
    position: absolute;
    display: inline-block;
    height: 50px;
    top: 320px;
    left: 12%;
}

#banner h1 {
    font-family: 'Roboto Slab';
    margin: 0px 0px 10px 0px;
    top: 0%;
    font-size: 42px;
    font-weight: bold;
}

#banner p {
    position: relative;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
}

#banner .bannerbutton {
    position: relative;
    background: white;
    text-decoration: none;
    height: inherit;
    padding: 10px 16px 10px 16px;
    margin: 0px 20px 10px 0px;
    color: #FFAEAE;
}
