html,
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    background: transparent;
    padding: 0px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    left: auto;
    right: auto;
    margin: auto;
    max-width: 1340px;
    color: white;
}

.topbox {
    position: fixed;
    right: auto;
    max-width: 1340px;
    width: 100%;
    height: 60px;
    top: 0px;
    z-index: 9999;
}

.topbg {
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px #777777;
    z-index: 9998;
}

#logo {
    position: relative;
    margin-top: 0px;
    top: 3px;
    height: 50px;
}

#mainmenu {
    position: relative;
    padding: none;
    display: inline-block;
    top: 0px;
    height: 60px;
    margin: 0px 0px 0px 0px;
    padding: 0px 7px;
    font-family: 'Lato', sans-serif;
    float: right;
    overflow: hidden;
    background: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
}

#mainmenu li {
    position: relative;
    display: block;
    float: left;
    width: 100px;
}

#mainmenu a {
    position: relative;
    line-height: 60px;
}

#mainmenu a:link {
    text-decoration: none;
    color: #FFAEAE;
}

#mainmenu a:visited {
    text-decoration: none;
    color: #FFAEAE;
}

#mainmenu div:hover {
    -webkit-transition: background-color 0.2s;
    background-color: #F5F5F5;
}

#mainmenu #donate {
    width: 80px;
    margin-left: 20px;
}

#mainmenu #donate div {
    position: absolute;
    color: white;
    background-color: #FFAEAE;
    top: 12px;
    height: 36px;
    line-height: 38px;
}

.button {
    font-family: "Lato";
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 2px;
    padding: 0px 16px 0px 16px;
    height: 36px;
    line-height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.22);
}

#footerbg {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 20vh;
    background-color: #1565c0;
    z-index: 99;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#footer {
    position: relative;
    top: 40px;
    width: 1040px;
    height: 100px;
    margin: 0px auto;
    z-index: 100;
}

#infoform {
    position: absolute;
    top: 50px;
    left: 50px;
}

.form {
    font-family: "Roboto Slab", sans-serif;
    display: inline;
    position: relative;
    top: 0px;
}

#support {
    font-family: "Roboto Slab";
    position: relative;
    width: 320px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
}

input {
    font-family: "Source Sans Pro", sans-serif;
    background: transparent;
    border: 0;
    color: white;
    display: inline;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    border: 1px solid #fff;
    padding: 0 10px 0 10px;
    height: 40px;
    width: 200px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .12em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input::-webkit-input-placeholder {
    color: white;
}

button {
    background: transparent;
    border: 1px solid #fff;
    width: 90px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .12em;
    -webkit-transition-duration: 0.3s;
    cursor: pointer;
}

.submit {
    position: absolute;
    font-family: "Source Sans Pro";
    letter-spacing: .12em;
    font-size: 11px;
    font-weight: 200;
    height: 42px;
    margin-left: 10px;
}

.submit:hover {
    background-color: #FFF;
    color: black;
}

#inputwrap {
    position: absolute;
    left: 11px;
    top: 0px;
    height: 90px;
}

.linkbox {
    position: absolute;
    right: 11px;
    top: 2px;
    width: 100px;
    height: 80px;
}

#whitelogo {
    position: absolute;
    right: 11px;
    display: block;
    top: 10px;
    height: 72px;
}

.link {
    font-family: "Roboto Slab";
    text-decoration: none;
    font-size: 8px;
    color: white;
}

.link:hover {
    text-decoration: underline;
}

#terms {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-transform: uppercase;
    letter-spacing: .12em;
}

#policy {
    position: absolute;
    bottom: 0px;
    left: 110px;
    text-transform: uppercase;
    letter-spacing: .12em;
}
