/*FFAEAE*/

html,
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    background: transparent;
    padding: 0px;
}

body {
    font-family: 'Oswald', sans-serif;
    left: auto;
    right: auto;
    margin: auto;
    !margin-left: 10%;
    !margin-right: 10%;
    !margin-top: 0px;
    max-width: 1140px;
    color: white;
}

.topbox {
    position: fixed;
    right: auto;
    max-width: 1140px;
    width: 100%;
    height: 60px;
    top: 0px;
    z-index: 999;
}

.topbg {
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px #777777;
    z-index: 998
}

#logo {
    position: relative;
    top: 2px;
    margin-top: 0px;
    height: 55px;
}

#mainmenu {
    position: relative;
    padding: none;
    display: inline-block;
    top: 0px;
    height: 60px;
    margin: 0px 0px 0px 0px;
    font-family: 'Oswald', sans-serif;
    float: right;
    overflow: hidden;
    background: #fff;
    text-align: center;
}

#mainmenu li {
    position: relative;
    display: block;
    float: left;
    width: 100px;
}

#mainmenu a {
    position: relative;
    line-height: 60px;
}

#mainmenu a:link {
    text-decoration: none;
    color: #FFAEAE;
}

#mainmenu a:visited {
    text-decoration: none;
    color: #FFAEAE;
}

#mainmenu div:hover {
    -webkit-transition: background-color 0.2s;
    background-color:  #FFC0C0;
}

#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0px;
    width: 100%;
    height: 900px;
    z-index: 2;
}

#banner .bannertext {
    position: absolute;
    display: inline-block;
    height: 50px;
    top: 340px;
    left: 5%;
}

#banner h1 {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0px 0px 10px 0px;
    top: 0%;
    font-size: 40px;
}

#banner p {
    font-family: 'Oswald', sans-serif;
    margin-top: 0px;
    top: 0%;
    font-size: 20px;
}

#nyan {
    position: absolute;
    bottom: 0px;
    right: 5%;
    height: 700px;
}

#bannerbg {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 900px;
    background: #FFAEAE;
    box-shadow: 0px 0px 5px 0px #777777;
}

#leftbox,
#rightbox {
    display: inline-block top: 0;
    height: 800px;
    width: 65%;
}

#leftbox {
    background-color: deepskyblue;
    display: inline-block;
    position: absolute;
    left: -20px;
}

#rightbox {
    background-color: cadetblue;
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 50%
}

#boxspacer {
    background-color: aqua;
    height: 10000px;
    z-index: 999999999;
}

t {
    color: black;
    position: relative;
    top: 100px;
    padding: 20px 20px 20px 20px;
    font-size: 40px;
    min-width: 100px;
}
